body {
    /* Full viewport size */
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Montserrat, sans-serif;
    background-color: #f4f4f9; /* Light background for contrast */

    /* Flexbox to Center Everything on the Screen */
    display: flex;
    flex-direction: COLUMN;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    text-align: center; /* Center text content inside the container */
}

.container {
    /* Optional: Limit the width of the content */
    max-width: 400px;
    padding: 20px;
}

/* --- Logo Styling --- */
.logo2 img {
    /* Ensures the image doesn't get too large */
    max-width: 147px;
    height: 34px;
    margin-top: 250px; /* Space above the logo */
}


/* --- Logo Styling --- */
.logo img {
    /* Ensures the image doesn't get too large */
    max-width: 150px;
    height: 150px;
    margin-top: 250px; /* Space above the logo */
}

/* --- Headings Styling --- */
h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 10px; /* Space above h2 */
}

h2 {
    color: black;
    font-size: 24px;
    margin-bottom: 30px; /* Space below h2 (before buttons) */
    font: Montserrat;
}

p2 {
    color:#475569;
    font-size: 20px;
    margin-bottom: 30px; /* Space below h2 (before buttons) */
     font: Montserrat;
    
}

p3 {
    color:black;
    font-size: 14pxpx;
    margin-bottom: 30px; /* Space below h2 (before buttons) */
     font: Montserrat;
    margin: 150px;
}
/* --- Button Group Styling --- */
.button-group {
    /* Flexbox to align buttons next to each other and center them */
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between the two buttons */
}

.select-btn {
    /* Basic button styling */
    width: 400px;
    height: 80px;
    padding: 10px 25px;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    background-color: #FF5533; /* Green color for the button */
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.select {
    /* Basic button styling */
    width: 400px;
    height: 80px;
    padding: 10px 25px;
    font-size: 1.1em;
    font-weight: bold;
    color:  #FF5533;;
    background-color: white; /* Green color for the button */
    border:  yes;
    border-color:   #FF5533;;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   
}

.select-btn:hover {
    background-color: #E03E1F; /* Darker green on hover */
}

.select:hover {
    background-color: #E03E1F; /* Darker green on hover */
    color: #ffffff; 
}